<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <!--让系统找properties文件。并解析-->
    <context:property-placeholder location="classpath:db.properties"/>
    
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="2"/>

    </bean>
    
<!--配置sesssion工厂，直接与数据库交互的工具，要配置找到sqlmapper，也就是mybbatis的配置文件-->
    <bean id="sessionFactorybean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"></property>
        <property name="mapperLocations" value="classpath:com/yu/edu/mapper/*Mapper.xml"></property>

        <property name="typeAliasesPackage"  value="com.yu.edu"></property>
    </bean>

    <!--&lt;!&ndash;配置资源映射，相当于找dao&ndash;&gt;-->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yu.edu.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sessionFactorybean"></property>

    </bean>
    


    <!--扫描注解,注入啊赋予注解特定的意思-->
    <context:component-scan base-package="com.yu.edu"></context:component-scan>

<!--定义一个事务管理器-->
    <bean id="transactionManger" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource"></property>
    </bean>
<!--开启事务驱动，配置一个事务管理器-->
    <tx:annotation-driven transaction-manager="transactionManger"></tx:annotation-driven>
    <aop:aspectj-autoproxy  proxy-target-class="true"/>
</beans>